.dropdown.open .toggle:before {
  content: "-";
}
.dropdown.open .submenu {
  display: block;
}

.dropdown .toggle {
  display: inline-block;
  cursor: pointer;
  background-color: blue;
  color: white;
  padding: 7px 40px 7px 30px;
  position: relative;
  user-select: none;
}
.dropdown .toggle:before {
  content: "+";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 0.85rem;
  font-weight: 100;
  color: white;
  margin-right: 10px;
}
.dropdown .submenu {
  display: none;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 2px 0.5px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: white;
  max-width: 600px;
  padding: 10px 15px;
}
.dropdown .submenu .item {
  cursor: pointer;
  padding: 10px;
  float: left;
  width: 30%;
  color: gray;
  font-weight: 200;
}
.dropdown .submenu .item:hover {
  font-weight: 900;
}
.dropdown .submenu .item a {
  text-decoration: none;
  color: gray;
}
.dropdown .submenu .item.selected {
  color: blue;
  font-weight: 700;
}
.dropdown .submenu .item.selected a {
  color: blue;
}
.dropdown .submenu .item.no-float {
  float: unset;
  width: unset;
}
